<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AWS" type="SetMySecurityGroup.AWSRegionsConfigurationSection, SetMySecurityGroup" />
  </configSections>
  <AWS>
    <Regions>
	  <!-- see http://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html for gaining your access keys --> 
	  <!-- The reason that the accessKey is specified for each row is so your config can span multiple AWS accounts -->
      <add endPoint="us-west-1"  securityGroupIds="sg-00000001"  accessKey="fakeKey" accessKeySecret="fakeSecret" />
	  <add endPoint="us-east-1" securityGroupIds="sg-00000002,sg-00000003" accessKey="fakeKey" accessKeySecret="fakeSecret"/>	
    </Regions>
  </AWS>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
</configuration>